/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul,
ol {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}
address {
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 0;
  padding-right: 0;
}
/* --------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#datetime-picker {
  width: 272px;
  height: 40px;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #cfcfcf;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
}
button:hover {
  background: #6c8cff;
}
button:disabled {
  background: #cfcfcf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

.label,
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.loadMoreBtn {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loadMoreBtn.visible {
  display: block;
}

label {
  border-top: 20px;
}
fieldset {
  width: 100%;
  height: 78px;
  margin-top: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
form {
  margin: 0 auto;
  width: 371px;
}
input {
  border-radius: 8px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;

  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
input:active,
:focus {
  color: #2e2f42;
}
form button {
  border-radius: 8px;
  height: 40px;
  width: 91px;
  margin-top: 24px;
}
ul.list {
  margin: 20px auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.list__item {
  border: 1px solid #808080;
  border-radius: 5px;
  width: 360px;
  height: 200px;
  position: relative;
  overflow: hidden; /* Обрезает содержимое, выходящее за границы */
}

.list__item img:hover {
  transform: scale(1.2);
}
.info {
  width: 360px;
  height: 48px;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 50px;
  transition: transform 0.9s ease;

  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.info:hover {
  transform: scale(1.05);
}

.info-item {
  color: #343a40;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

img {
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease;
}
.title,
.title_second {
  text-align: center;
  color: blue;
  animation: textAnimation 500ms infinite;
}
@keyframes textAnimation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.loadMoreBtn {
  margin: 0 auto;
  margin-top: 20px;
  height: 40px;
  width: 125px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}
